<mat-toolbar color="primary">
    <span>Title</span>
    <nav>
      <a href="#" *ngFor="let navigationItem of navigationItems"
        [routerLink]="navigationItem.route" [class.active]="isActive(navigationItem.route)">
        {{navigationItem.name}}
      </a>
    </nav>
    <button mat-button (click)="toggleSidenav()">
      <i class="fas fa-bars"></i>
    </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="hide" [opened]="isSidenavOpened">
    <mat-list>
      <mat-list-item *ngFor="let navigationItem of navigationItems">
        <a href="#" [routerLink]="navigationItem.route" (click)="toggleSidenav()" [class.active]="isActive(navigationItem.route)">
          {{navigationItem.name}}
        </a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
